

#wrapper {
    width: 500px;
    margin: auto;
}

header {
    text-align: center;
    padding: 40px;
}

nav {
	text-align: center;
	padding: 20px;
}

nav li {
    display:inline;
    vertical-align: middle;
}

article {
	padding: 10px;
	margin: auto;
}

article h2 {
	text-align: center;
}

footer {
	position: fixed;
    bottom: 0px;
    right: 0px;
}

input {
    border: 1px solid #006;
  	text-align: center;
    border-radius:5px;
    height: 30px;
    width: 150px;
}

nav a:link, a:visited{ 
color:000; 
background:transparent; 
text-decoration:none; 
}

nav a:hover{ 
color:#999; 
background:transparent; 
text-decoration:underline; 
}
