header {
	background: lightskyblue;
    text-align: center;
    width: 900px;
}

nav {
	background: lightsteelblue;
    text-align: center;
    width: 900px;
}

article {
	background: oldlace;
    width: 900px;
}

footer {
	background: lightsteelblue;
    text-align: right;
    width: 900px;
}