#wrapper {
    width: 500px;
    
    margin: auto;
}

header {
    text-align: center;
    padding: 40px;
}

nav {
	text-align: center;
	padding: 20px;
}

nav li {
    display:inline;
    vertical-align: middle;
}

article {
	text-align: center;
	padding: 50px;
	margin: auto;
}

footer {
	position: fixed;
    bottom: 0px;
    right: 0px;
}