{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}QPAWeb - a bachelorproject{% endblock title %}</title>
    <meta charset=UTF-8">
    
    {% load staticfiles %}
    
    {% block script %}
    {% endblock script %}
    
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}" type="text/css" media="screen" />
    {% endblock css %}
</head>
<body>

<div id=wrapper>

<header>
	{% block header %}
    <h1>WebQPA</h1>
    <h4>a bachelorproject at Høgskolen i Sør-Trøndelag</h4>
    {% endblock header %}
</header>

<nav>
    {% block nav %}
        <ul>
            <li><a href="{% url "index" %}" >{% trans "Home" %}</a></li>
            <li> : <a href="{% url "signup" %}" >{% trans "Sign up" %}</a></li>
            <li> : <a href="{% url "help" %}" >{% trans "Help" %}</a></li>
            <li> : <a href="{% url "about" %}" >{% trans "About" %}</a></li>
        </ul>
    {% endblock nav %}
</nav>

<article>
    {% block content %}
        Lorem ipsum oversatt til norsk. Denne siden er nødvendig for å legge inn en kommentar. Men temperaturen eros ettermiddag noen forbrytelse her, men bare starte. Tilbake til toppen latter er gratis, veranda eller i krydder, ikke ble funnet på børsten. Kontakt. Denne siden er nødvendig for å legge inn en kommentar. Skrevet i tabell nei. Før det er min store ergrelse ulike frakt. My funny og urbane og industrielle element. Kontakt din kundene hater. Hjemmeside er stygg, er ikke nødvendig. Som ennå, heller. Velkommen medlemmer, er latter på dekk, kan du kommentere for hat, men smerte er en lagringsplattform.
    {% endblock content %}
</article>

<footer>
	{% block footer %}
		Bachelorproject 34 - Jakobsen, Kittelsen og Dybvik. License GPL 2, 2013
	{% endblock footer %}
</footer>

</div>

</body>
</html>