{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" media="screen" />
{% endblock css %}

{% block header %}
	<h1>QPAWeb</h1>
	<h3>{% trans 'Quivers and Paths algorithm graphical webinterface' %}</h3>
{% endblock header %}


{% block content %}
 <form>
        <p>
            <label for="email">{% trans 'E-mail' %}:</label>
            <input type="email" id="email" placeholder="name@domain.com" autocomplete="off" required>
        </p>
        <p>
            <label for="passwd">{% trans 'Password' %}:</label>
            <input type="password" id="passwd" required>
        </p>
        <p>
        <input type="submit"  value="Login"> 
        </p>    
 </form>
{% endblock content %}

{% block footer %}

{% endblock footer %}
