<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="default.css">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/default.css' %}" type="text/css" media="screen" />
    </head>
    <body>
        <header>
        	<h1>WebQPA</h1>
            <h4>a bachelorproject at Høgskolen i Sør-Trøndelag</h4>
        </header>

        <nav>
        	Home : menu1 : menu2 : menu3
        </nav>

        <article>
        	Lorem ipsum oversatt til norsk. Denne siden er nødvendig for å legge inn en kommentar. Men temperaturen eros ettermiddag noen forbrytelse her, men bare starte. Tilbake til toppen latter er gratis, veranda eller i krydder, ikke ble funnet på børsten. Kontakt. Denne siden er nødvendig for å legge inn en kommentar. Skrevet i tabell nei. Før det er min store ergrelse ulike frakt. My funny og urbane og industrielle element. Kontakt din kundene hater. Hjemmeside er stygg, er ikke nødvendig. Som ennå, heller. Velkommen medlemmer, er latter på dekk, kan du kommentere for hat, men smerte er en lagringsplattform.
        </article>

        <footer>
        	Bachelorgroup 34, thakulf, 60XfiR3, posekork. Lisence GPL 2, 2013
        </footer>
    </body>
</html>