<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="default.css">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/default.css' %}" type="text/css" media="screen" />
    </head>
    <body>
        <header>
        	hodekommode
        </header>
        <nav>
        	nav-rav
        </nav>
        <article>
        	lipsum lorum lipstick lipsync      
        </aticle>
        <footer>
        	foten er roten.
        </footer>
    </body>
</html>